@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;600;700&display=swap&family=Montserrat:wght@400;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  @apply text-sm text-slate-900 dark:text-slate-200;
}

.fc-toolbar-title {
  @apply capitalize -tracking-wide;
}
.fc-col-header-cell-cushion {
  @apply capitalize;
}

[data-slot="input-wrapper"] {
  @apply dark:!border-divider;
}

main {
  @apply text-sm text-slate-900 dark:text-slate-200;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-lg font-medium;
}

/* width */
.scrollbar-customize::-webkit-scrollbar {
  @apply h-[5px] w-1.5 bg-default-300/40 dark:bg-slate-800;
}

.scrollbar-y-customize::-webkit-scrollbar {
  @apply h-[5px] w-1 bg-default-300 dark:bg-default-300/80;
}

/* Track */
.scrollbar-customize .scrollbar-y-customize::-webkit-scrollbar-track {
  @apply rounded-full !bg-black dark:!bg-white;
}

/* Handle */
.scrollbar-customize::-webkit-scrollbar-thumb {
  @apply rounded-full bg-default-300 dark:!bg-slate-300;
}

.fade-bottom {
  mask-image: linear-gradient(black 80%, transparent);
}

.fade-bottom-sm {
  mask-image: linear-gradient(black 90%, transparent);
}

.fade-top-sm {
  mask-image: linear-gradient(transparent, black 90%);
}

.fade-top-sm {
  mask-image: linear-gradient(transparent, black 90%);
}

.floating-animation {
  animation: floating 3.8s 2.5s ease-in-out infinite;
  rotate: -10deg;
}

.floating-animation-2 {
  animation: floating 3.8s ease-in-out infinite;
  rotate: 12deg;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
